@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i');

* {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  line-height: 1.75;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #ddd;
  background: #42475F;
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,.25);
}

a:hover {
  border-bottom: 1px solid rgba(255,255,255,.5);
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/**
# HEADER
*/
.header {
  width: 100%;
  height: 60px;
  line-height: 60px; 
}

.header .logo {
  width: 85px;
  height: 20px;
  float: left;
  background: url(../images/logo.png) no-repeat;
  background-size: cover;
  top: 20px;
}

.header .logo a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999999999em;
  text-decoration: none;
  border: 0;
}

.header .menu {
  float: right;
}

.header .menu li {
  float: left;
  margin-left: 25px;
}

.header .menu li.sep {
  width: 2px;
  height: 20px;
  background: rgba(255,255,255,.25);
  top: 20px;
}

.header .menu li a {
  color: rgba(255,255,255,.75);
  font-size: 14px;
  font-weight: 700;
  border: 0;
  padding-bottom: 5px;
}

.header .menu li.light a {
  font-weight: 400;
}

.header .menu li a:hover {
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,.25);
}